{% extends "index.html" %}

    <!-- Header -->
    {% block head %}
    <header class="masthead bg-primary text-secondary text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/logo-arco-con-trasparenza-520x416.png" alt="">
        <h1 class="text-uppercase mb-0">WHOW Toolkit</h1>
        <hr class="star-light">
        <span class="h2-span"><a href="http://stlab.istc.cnr.it/"><img id="stlab" src="./img/CNR.png" /></a></span>
        <span class="h2-span"><a href="http://www.iccd.beniculturali.it/"><img id="iccd" src="./img/iccd.jpg" /></a></span>
      </div>
    </header>
	{% endblock %}
    
    <!-- Ontologie -->
    {% block content %}
    <section class="portfolio" id="ontologie">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Ontologie</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="http://localhost:9090/lode/extract?url=http://stlab.istc.cnr.it/arco/docker_data/ontologies/arco-core.owl">
              <div class="ontology-title text-center text-white"><h3>Ontologia core</h3></div>
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/core.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="http://localhost:9090/lode/extract?url=http://stlab.istc.cnr.it/arco/docker_data/ontologies/cp-description.owl">
              <div class="ontology-title text-center text-white"><h3>Cultrural property description</h3></div>
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/cultural-good.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
			  <a class="portfolio-item d-block mx-auto" href="http://localhost:9090/lode/extract?url=http://stlab.istc.cnr.it/arco/docker_data/ontologies/catalogue-record.owl">
              <div class="ontology-title text-center text-white"><h3>Catalog record &amp versioning</h3></div>
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/catalog-record.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="http://localhost:9090/lode/extract?url=http://stlab.istc.cnr.it/arco/docker_data/ontologies/cultural-event.owl">
              <div class="ontology-title text-center text-white"><h3>Cultural events and ehibitions</h3></div>
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/cultural-event.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="http://localhost:9090/lode/extract?url=http://stlab.istc.cnr.it/arco/docker_data/ontologies/identifiers.owl">	
              <div class="ontology-title text-center text-white"><h3>Identifiers</h3></div>
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/identifiers.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="http://localhost:9090/lode/extract?url=http://stlab.istc.cnr.it/arco/docker_data/ontologies/location-geoamm.owl">	
              <div class="ontology-title text-center text-white"><h3>Locations &amp; addresses</h3></div>
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/locations.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>
	{% endblock %}
