<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WHOW Toolkit">
    <meta name="author" content="Andrea Giovanni Nuzzolese">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('home.static', filename='logo-black-small.png')}}">

    <title>WHOW Toolkit - Home page</title>

	<base href="/">
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('home.static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{{url_for('home.static', filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="{{url_for('home.static', filename='vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{url_for('home.static', filename='css/freelancer.css')}}" rel="stylesheet">
    
    <script type="text/javascript" src="{{url_for('home.static', filename='js/jquery-3.7.1.min.js')}}"></script>
    {% block script %}
    
    {% endblock %}

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="home">
         <img class="logo" src="{{url_for('home.static', filename='logo-white-small.png')}}">
        </a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% set home = {'service': None} %}
          	{% for service in services %}
          		{% if service._name.lower() == 'home' %}
          			{% if home.update({'service': service}) %} {% endif %}
          		{% else %}
	          		<li class="nav-item mx-0 mx-lg-1">
	              		<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{service._name}}">{{ service._name }}</a>
	            	</li>
	            {% endif %}
          	{% endfor %}
          	{% if home['service'] %}
          		<li class="nav-item mx-0 mx-lg-1">
	           		<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{home['service']._name}}">{{ home['service']._name }}</a>
	           	</li>
          	{% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    {% block head %}
    
    {% endblock %}
    

    
    <!-- Content -->
    
    {% block content %}
    
    {% endblock %}
    
    <section id="footer" class="footer">
    	<div class="container">
        	
        	<div class="row">
        		<div class="col-md-4 col-lg-4 center">
        			<p>
        				<img alt="European Commission Logo" src="{{url_for('home.static', filename='img/european-commission-logo.png')}}" />
        			</p>
        		</div>
        		<div class="col-md-8 col-lg-8 middle">
        			<p>
        				WHOW is a project funded under the Connecting European Facility (CEF) Programme of the European Union, within the Digital sector under grant agreement 2019-EU-IA-0089.
        			</p>
        		</div>
        	</div>
        </div>
    
    </section>
    
    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/google-code-prettify/run_prettify.js"></script>
    <script src="vendor/lang-sparql/lang-sparql.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.js"></script>

  </body>

</html>
