{% extends "index.html" %}

    <!-- Header -->
    {% block head %}
    <header class="masthead bg-primary text-secondary text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/logo-arco-con-trasparenza-520x416.png" alt="">
        <h1 class="text-uppercase mb-0">Triplifier Component</h1>
        <hr class="star-light">
        <span class="h2-span"><a href="http://stlab.istc.cnr.it/"><img id="stlab" src="./img/CNR.png" /></a></span>
        <span class="h2-span"><a href="http://www.iccd.beniculturali.it/"><img id="iccd" src="./img/iccd.jpg" /></a></span>
      </div>
    </header>
	{% endblock %}
    
    <!-- Ontologie -->
    {% block content %}
    <section class="portfolio" id="triplifier-content">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Triplify!</h2>
        <hr class="star-dark mb-5">
        <div class="row" />
      </div>
    </section>
	{% endblock %}
